<!-- Contact Start -->
<div class="container-fluid contact position-relative px-5" style="margin-top: 90px;">
    <div class="container">
        <div class="row g-5 mb-5">
            <div class="col-lg-4 col-md-6">
                <div class="bg-primary border-inner text-center text-white p-5">
                    <i class="bi bi-geo-alt fs-1 text-white"></i>
                    <h6 class="text-uppercase my-2">Dane firmy</h6>
                    <span>Piotrunio Corp. Jakiś adres</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="bg-primary border-inner text-center text-white p-5">
                    <i class="bi bi-envelope-open fs-1 text-white"></i>
                    
                    <h6 class="text-uppercase my-2">Godziny otwarciae</h6>
                    <span>Codziennie 10:00 - 02:00</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="bg-primary border-inner text-center text-white p-5">
                    <i class="bi bi-phone-vibrate fs-1 text-white"></i>
                    <h6 class="text-uppercase my-2">Zadzwoń do nas</h6>
                    <span>+012 345 6789</span>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <form>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <input type="text" class="form-control bg-light border-0 px-4" placeholder="Podaj imię" style="height: 55px;">
                        </div>
                        <div class="col-sm-6">
                            <input type="email" class="form-control bg-light border-0 px-4" placeholder="Email" style="height: 55px;">
                        </div>
                        <div class="col-sm-12">
                            <input type="text" class="form-control bg-light border-0 px-4" placeholder="Tytuł" style="height: 55px;">
                        </div>
                        <div class="col-sm-12">
                            <textarea class="form-control bg-light border-0 px-4 py-3" rows="4" placeholder="Treść wiadomości"></textarea>
                        </div>
                        <div class="col-sm-12">
                            <button class="btn btn-primary border-inner w-100 py-3" type="submit">Wyślij</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<!-- Contact End -->
