@model RestaurantSystem.Data.Data.CMS.ContactPartial

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ContactPartial</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubTitle" class="control-label"></label>
                <input asp-for="SubTitle" class="form-control" />
                <span asp-validation-for="SubTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyDataTitle" class="control-label"></label>
                <input asp-for="CompanyDataTitle" class="form-control" />
                <span asp-validation-for="CompanyDataTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyDataContent" class="control-label"></label>
                <input asp-for="CompanyDataContent" class="form-control" />
                <span asp-validation-for="CompanyDataContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactDataTitle" class="control-label"></label>
                <input asp-for="ContactDataTitle" class="form-control" />
                <span asp-validation-for="ContactDataTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactDataContent" class="control-label"></label>
                <input asp-for="ContactDataContent" class="form-control" />
                <span asp-validation-for="ContactDataContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneDataTitle" class="control-label"></label>
                <input asp-for="PhoneDataTitle" class="form-control" />
                <span asp-validation-for="PhoneDataTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneDataContent" class="control-label"></label>
                <input asp-for="PhoneDataContent" class="form-control" />
                <span asp-validation-for="PhoneDataContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormName" class="control-label"></label>
                <input asp-for="FormName" class="form-control" />
                <span asp-validation-for="FormName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormEmail" class="control-label"></label>
                <input asp-for="FormEmail" class="form-control" />
                <span asp-validation-for="FormEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormTitle" class="control-label"></label>
                <input asp-for="FormTitle" class="form-control" />
                <span asp-validation-for="FormTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormContent" class="control-label"></label>
                <input asp-for="FormContent" class="form-control" />
                <span asp-validation-for="FormContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormButtonName" class="control-label"></label>
                <input asp-for="FormButtonName" class="form-control" />
                <span asp-validation-for="FormButtonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartialId" class="control-label"></label>
                <select asp-for="PartialId" class ="form-control" asp-items="ViewBag.PartialId"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
