@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">System budowania i zarządzania stroną internetową.</h1>
    <p>Wszelkie prawa zastrzeżone - Piotr Utrata</p>
</div>
