@model RestaurantSystem.Administracja.Models.CMS.Company

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Company</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebsiteTitlePart" class="control-label"></label>
                <input asp-for="WebsiteTitlePart" class="form-control" />
                <span asp-validation-for="WebsiteTitlePart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TopbarRightTitle" class="control-label"></label>
                <input asp-for="TopbarRightTitle" class="form-control" />
                <span asp-validation-for="TopbarRightTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TopBarRightInfo" class="control-label"></label>
                <input asp-for="TopBarRightInfo" class="form-control" />
                <span asp-validation-for="TopBarRightInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TopBarRightPhotoName" class="control-label"></label>
                <input asp-for="TopBarRightPhotoName" class="form-control" />
                <span asp-validation-for="TopBarRightPhotoName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TopbarCenterTitle" class="control-label"></label>
                <input asp-for="TopbarCenterTitle" class="form-control" />
                <span asp-validation-for="TopbarCenterTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TopBarCenterPhotoName" class="control-label"></label>
                <input asp-for="TopBarCenterPhotoName" class="form-control" />
                <span asp-validation-for="TopBarCenterPhotoName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TopbarLeftTitle" class="control-label"></label>
                <input asp-for="TopbarLeftTitle" class="form-control" />
                <span asp-validation-for="TopbarLeftTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TopBarLeftInfo" class="control-label"></label>
                <input asp-for="TopBarLeftInfo" class="form-control" />
                <span asp-validation-for="TopBarLeftInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TopBarLeftPhotoName" class="control-label"></label>
                <input asp-for="TopBarLeftPhotoName" class="form-control" />
                <span asp-validation-for="TopBarLeftPhotoName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FooterLeftBoxTitle" class="control-label"></label>
                <input asp-for="FooterLeftBoxTitle" class="form-control" />
                <span asp-validation-for="FooterLeftBoxTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FooterLeftBoxPhotoName" class="control-label"></label>
                <input asp-for="FooterLeftBoxPhotoName" class="form-control" />
                <span asp-validation-for="FooterLeftBoxPhotoName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FooterLeftBoxDescription" class="control-label"></label>
                <input asp-for="FooterLeftBoxDescription" class="form-control" />
                <span asp-validation-for="FooterLeftBoxDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FooterLeftInfoTitle" class="control-label"></label>
                <input asp-for="FooterLeftInfoTitle" class="form-control" />
                <span asp-validation-for="FooterLeftInfoTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FooterLeftInfoAddress" class="control-label"></label>
                <input asp-for="FooterLeftInfoAddress" class="form-control" />
                <span asp-validation-for="FooterLeftInfoAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FooterLeftInfoEmail" class="control-label"></label>
                <input asp-for="FooterLeftInfoEmail" class="form-control" />
                <span asp-validation-for="FooterLeftInfoEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FooterLeftInfoPhone" class="control-label"></label>
                <input asp-for="FooterLeftInfoPhone" class="form-control" />
                <span asp-validation-for="FooterLeftInfoPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FooterLeftInfoTwitterLink" class="control-label"></label>
                <input asp-for="FooterLeftInfoTwitterLink" class="form-control" />
                <span asp-validation-for="FooterLeftInfoTwitterLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FooterLeftInfoFacebookLink" class="control-label"></label>
                <input asp-for="FooterLeftInfoFacebookLink" class="form-control" />
                <span asp-validation-for="FooterLeftInfoFacebookLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FooterLeftInfoLinkedinLink" class="control-label"></label>
                <input asp-for="FooterLeftInfoLinkedinLink" class="form-control" />
                <span asp-validation-for="FooterLeftInfoLinkedinLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FooterCenterInfoTitle" class="control-label"></label>
                <input asp-for="FooterCenterInfoTitle" class="form-control" />
                <span asp-validation-for="FooterCenterInfoTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FooterRightInfoTitle" class="control-label"></label>
                <input asp-for="FooterRightInfoTitle" class="form-control" />
                <span asp-validation-for="FooterRightInfoTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FooterRightInfoDescription" class="control-label"></label>
                <input asp-for="FooterRightInfoDescription" class="form-control" />
                <span asp-validation-for="FooterRightInfoDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FooterRightInfoButtonName" class="control-label"></label>
                <input asp-for="FooterRightInfoButtonName" class="form-control" />
                <span asp-validation-for="FooterRightInfoButtonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FooterRightInfoButtonUrl" class="control-label"></label>
                <input asp-for="FooterRightInfoButtonUrl" class="form-control" />
                <span asp-validation-for="FooterRightInfoButtonUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FooterBottom" class="control-label"></label>
                <input asp-for="FooterBottom" class="form-control" />
                <span asp-validation-for="FooterBottom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentEventsPartialId" class="control-label"></label>
                <input asp-for="CurrentEventsPartialId" class="form-control" />
                <span asp-validation-for="CurrentEventsPartialId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactPartialId" class="control-label"></label>
                <select asp-for="ContactPartialId" class="form-control" asp-items="ViewBag.ContactPartialId"></select>
                <span asp-validation-for="ContactPartialId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedById" class="control-label"></label>
                <input asp-for="UpdatedById" class="form-control" />
                <span asp-validation-for="UpdatedById" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
