<div class="col-lg-4 col-md-6">
    <div class="team-item">
        <div class="position-relative overflow-hidden">
            <img class="img-fluid w-100" src="~/lib/img/team-1.jpg" alt="">
            <div class="team-overlay w-100 h-100 position-absolute top-50 start-50 translate-middle d-flex align-items-center justify-content-center">
                <div class="d-flex align-items-center justify-content-start">
                    <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                    <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                </div>
            </div>
        </div>
        <div class="bg-dark border-inner text-center p-4">
            <h4 class="text-uppercase text-primary">Piotr Utrata</h4>
            <p class="text-white m-0">Jego serce to włoska kuchnia</p>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6">
    <div class="team-item">
        <div class="position-relative overflow-hidden">
            <img class="img-fluid w-100" src="~/lib/img/team-2.jpg" alt="">
            <div class="team-overlay w-100 h-100 position-absolute top-50 start-50 translate-middle d-flex align-items-center justify-content-center">
                <div class="d-flex align-items-center justify-content-start">
                    <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                    <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                </div>
            </div>
        </div>
        <div class="bg-dark border-inner text-center p-4">
            <h4 class="text-uppercase text-primary">Janek Kowalski</h4>
            <p class="text-white m-0">Dzięki niemu zasmakujecie słodkości prosto z nieba</p>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6">
    <div class="team-item">
        <div class="position-relative overflow-hidden">
            <img class="img-fluid w-100" src="~/lib/img/team-3.jpg" alt="">
            <div class="team-overlay w-100 h-100 position-absolute top-50 start-50 translate-middle d-flex align-items-center justify-content-center">
                <div class="d-flex align-items-center justify-content-start">
                    <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                    <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                </div>
            </div>
        </div>
        <div class="bg-dark border-inner text-center p-4">
            <h4 class="text-uppercase text-primary">Ala Makota</h4>
            <p class="text-white m-0">Każdy rodzaj mięsa z jej rąk jest znakomity</p>
        </div>
    </div>
</div>