@model IEnumerable<RestaurantSystem.Data.Data.CMS.Page>;

@foreach (var item in Model)
{
    <a class="nav-item nav-link" href="@Url.Action("Index", "Home", new { id = item.Id })">@item.LinkTitle</a>
}